<div class="hor-wrap">
	<div class="hor-inner">
		<div class="table">
			<div class="tablecell">

				<div class="row">

				  <div class="large-12 columns">

						<div class="panel">

							<form action="/signin" method="POST">

							  <ul>

								  <li>
								  	<label>Username:
								  		<input type="text" name="user[username]">
								  	</label>
								  </li>
								  <li>
								  	<label>Password:
								  		<input type="password" name="user[password]">
								  	</label>
								  </li>
								  <br>
								  <li>
								  	<input type="submit" class="button" value="Signin">
								  </li>
							  
								</ul>

							</form>

						</div>

					</div>

				</div>

			</div>
		</div>
	</div>
</div>