<div class="panel">

	<ul>
		<li>
			<strong><a href="/profile/<%= message.author.id %>" class="name-link"><%= message.author.name %></a></strong> | <span class="timestamp"><%= message.created_at %></span>
		</li>
		<li>
			<%= message.body %>
		</li>
	</ul>

</div>